<h1 class="head">ようこそ
    <strong>Bookers</strong>
    へ！
</h1>

<P class="top-body">
   <strong>Bookers</strong> 
    では、様々な書籍に関するあなたの意見や
</P>

<p class="top-body">印象を共有し交換することができます</p>

<nav class="top-start">
    <%= link_to 'start', "/books" %>

</nav>



